POSTGRES_USER=lanpass_databaseuser
POSTGRES_PASSWORD=pass2databaseuser
POSTGRES_DB=lanpass

PGADMIN_DEFAULT_EMAIL=admin@mail.com
PGADMIN_DEFAULT_PASSWORD=pass2admin

BACKEND_PORT=8000
BACKEND_AUTOUPDATE=6
ROOT_API_URL=https://api.com
ROOT_API_TOKEN=token

ADMIN_LOGIN=admin
ADMIN_PASSWORD=12345

SECRET=supersecret

BOT_WEBHOOK_URL=http://bot:8888/webhook/order

BOT_TOKEN=your_bot_token_here
CHAT_IDS=your_chat_ids_here

PHONE=+70000000000

DOMAIN=yourdomain.com
LETSENCRYPT_EMAIL=admin@yourdomain.com

GHCR_REPOSITORY=owner/LanPassStore